@import "tailwindcss";
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes heartPop {
    0% {
        transform: scale(0.5);
        opacity: 0.4;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.heart-animation {
    animation: heartPop 1s ease-out forwards;
}